body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qr-section {
  background: linear-gradient(to bottom, #9b59b6, #1f77d0); 
  color: #fff;
  padding: 40px;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.qr-section p {
  margin-top: -10px;
  font-size: 14px;
  color: #e1d8f1;
}

.qr-section .qr-code {
  margin-top: 20px;
}

.qr-section button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  color: #9b59b6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.qr-section button:hover {
  background: #9b59b6;
  color: #fdfdfd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.form-section {
  background-color: #fff;
  padding: 40px;
  width: 50%;
}

.form-section h1 {
  font-size: 24px;
  color: #af55d6;
}

.form-section p {
  font-size: 14px;
  color: #af55d6;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right,  #4f2661, #16528f);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background: linear-gradient(to right, #af55d6, #258ef8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
